.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.form-style-2 {
  max-width: 500px;
  padding: 20px 12px 10px 20px;
  font: 13px 'Open Sans', Helvetica, sans-serif; }

.form-style-2-heading {
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 15px;
  padding-bottom: 3px; }

.form-style-2 label {
  display: block;
  margin: 0px 0px 15px 0px; }

.form-style-2 label > span {
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px; }

.form-style-2 span.required {
  color: red; }

.form-style-2 .tel-number-field {
  width: 40px;
  text-align: center; }

.form-style-2 input.input-field {
  width: 48%; }

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none; }

.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus {
  border: 1px solid #0C0; }

.form-style-2 .textarea-field {
  height: 100px;
  width: 55%; }

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
  border: none;
  padding: 8px 15px 8px 15px;
  background: #FF8500;
  color: #fff;
  box-shadow: 1px 1px 4px #DADADA;
  -moz-box-shadow: 1px 1px 4px #DADADA;
  -webkit-box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover {
  background: #EA7B00;
  color: #fff; }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

#video-page {
  background-color: #ffffff; }

#banner.video-nav {
  padding: 0;
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  height: 150px; }
  #banner.video-nav table {
    table-layout: fixed;
    width: 100%;
    height: 100%; }
  #banner.video-nav td {
    width: 14%;
    height: 50px;
    vertical-align: middle;
    border: 1px inset transparent;
    border-left: 1px solid #333;
    padding-left: 20px;
    cursor: pointer; }
    #banner.video-nav td.theme, #banner.video-nav td.unavailable {
      text-shadow: 1px 1px #333;
      cursor: auto; }
    #banner.video-nav td:hover {
      border: 1px solid red; }
    #banner.video-nav td.theme:hover, #banner.video-nav td.unavailable:hover {
      border: 1px inset transparent; }
  #banner.video-nav .nav-row1 {
    background-color: rgba(252, 209, 22, 0.4); }
  #banner.video-nav .nav-row2 {
    background-color: rgba(0, 56, 147, 0.4); }
  #banner.video-nav .nav-row3 {
    background-color: rgba(206, 17, 38, 0.4); }

table.nav-years {
  width: 100%;
  text-align: right;
  font-family: 'Georgia',serif; }
  table.nav-years td {
    width: 14%;
    border-right: 1px solid #333;
    padding-right: 3px; }

/**
* VIDEO
*/
.video-container {
  position: relative; }

#next-video-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff; }
  #next-video-popup .button {
    background: none;
    border: none;
    font-size: 1.3em; }
    #next-video-popup .button:hover {
      background: none; }
  #next-video-popup .next-video-popup-close {
    float: right;
    cursor: pointer; }
  #next-video-popup .next-video-popup-inner {
    margin: 20%;
    font-weight: 700;
    text-align: center; }
    #next-video-popup .next-video-popup-inner h2 {
      font-size: 2em; }
    #next-video-popup .next-video-popup-inner .countdown {
      font-size: 4em; }
    #next-video-popup .next-video-popup-inner ul {
      margin-top: 35px; }

.video-buttons {
  display: none;
  width: 100%;
  height: 30px;
  background: #ccc; }
  .video-buttons ul li {
    display: inline;
    padding: 10px;
    cursor: pointer; }
    .video-buttons ul li:hover {
      color: #fcac45; }

/**
* TIMELNE
*/
#timeline {
  position: absolute;
  bottom: 40px;
  height: 7px;
  width: 100%;
  padding: 0 12px; }
  #timeline .timeline-inner {
    width: 100%;
    height: 100%; }
  #timeline .trigger {
    position: absolute;
    height: 100%;
    width: 7px;
    background-color: #ff5555;
    border: 1px solid rgba(255, 85, 85, 0.4);
    border-radius: 2px;
    cursor: pointer; }
  #timeline .comment-now-btn {
    float: right;
    margin-top: 11px;
    margin-right: 22%;
    border: none;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.4);
    opacity: 0.9; }
    #timeline .comment-now-btn:hover {
      background-color: #ff5555;
      border: 1px solid #ff5555; }

#timeline-comment-modal {
  margin-top: 15px;
  max-height: 50%;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 15px; }
  #timeline-comment-modal .timeline-modal-close {
    float: right; }
  #timeline-comment-modal h2 {
    font-size: 1.6em; }
  #timeline-comment-modal a.timeline-comment-time {
    color: #fcac45;
    cursor: pointer; }

.comments {
  border-top: 2px solid #ccc; }

.comment-container {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px; }
  .comment-container .author-img {
    float: left;
    margin: 5px; }
    .comment-container .author-img img {
      max-width: 35px; }
  .comment-container .comment-replies {
    margin-left: 30px; }
    .comment-container .comment-replies li {
      min-height: 56px; }
    .comment-container .comment-replies a {
      cursor: pointer; }

.comment-form {
  border-top: 1px solid #333; }

.comment-form textarea, .comment-reply-form textarea {
  min-width: 80%; }

.ta-hidden-input {
  width: 1px;
  height: 1px;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -10000px;
  left: -10000px;
  opacity: 0;
  overflow: hidden; }

/* add generic styling for the editor */
.ta-root.focussed > .ta-scroll-window.form-control {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.ta-editor.ta-html, .ta-scroll-window.form-control {
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  width: 80%;
  border: 1px solid #ccc; }

.ta-scroll-window.form-control {
  position: relative;
  padding: 0; }

.ta-scroll-window > .ta-bind {
  height: auto;
  min-height: 160px;
  padding: 6px 12px; }

.comment-reply-form .ta-scroll-window > .ta-bind {
  min-height: 100px; }

.ta-editor:focus {
  user-select: text; }

/* add the styling for the awesomness of the resizer */
.ta-resizer-handle-overlay {
  z-index: 100;
  position: absolute;
  display: none; }

.ta-resizer-handle-overlay > .ta-resizer-handle-info {
  position: absolute;
  bottom: 16px;
  right: 16px;
  border: 1px solid black;
  background-color: #FFF;
  padding: 0 4px;
  opacity: 0.7; }

.ta-resizer-handle-overlay > .ta-resizer-handle-background {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  top: 5px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2); }

.ta-resizer-handle-overlay > .ta-resizer-handle-corner {
  width: 10px;
  height: 10px;
  position: absolute; }

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl {
  top: 0;
  left: 0;
  border-left: 1px solid black;
  border-top: 1px solid black; }

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr {
  top: 0;
  right: 0;
  border-right: 1px solid black;
  border-top: 1px solid black; }

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl {
  bottom: 0;
  left: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black; }

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-br {
  bottom: 0;
  right: 0;
  border: 1px solid black;
  cursor: se-resize;
  background-color: white; }

/* copy the popover code from bootstrap so this will work even without it */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.popover.top {
  margin-top: -10px; }

.popover.bottom {
  margin-top: 10px; }

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.popover-content {
  padding: 9px 14px; }

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: solid transparent; }

.popover > .arrow {
  border-width: 11px; }

.popover > .arrow:after {
  content: "";
  border-width: 10px; }

.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0; }

.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0; }

.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25); }

.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff; }

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

/** SIGN IN **/
.social-login {
  list-type: none; }
  .social-login li .button {
    width: 270px;
    color: #fff; }
  .social-login .button.fb-login {
    background-color: #3b5998; }
  .social-login .button.google-login {
    background-color: #dd4b39; }
  .social-login .button.wp-login {
    background-color: #21759b; }

/** PROFILE **/
.user-details li {
  list-style-type: none; }

.user-details span.user-name {
  font-weight: 700;
  font-size: 1.3em; }

.user-details span.user-email {
  font-size: 1.1em; }

.blocked {
  color: #fcac45; }

html {
  font-family: 'Helvetica', 'Arial', sans-serif; }

p.lead {
  color: orange; }

.text-center {
  text-align: center; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container div,
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/**
* HOME
*/
#main {
  margin-bottom: 60px; }

#more-details {
  display: none;
  width: 100%; }

#featured {
  margin: 60px 20px 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333; }
  #featured .more-button {
    position: absolute;
    bottom: 60px; }

#marketing img {
  max-width: 100%; }

/**
* USER
*/
.flash.error {
  color: #fcac45; }

/**
* OTHERS
*/
ol.improve-list {
  list-style-type: decimal;
  margin-left: 44px; }
