<div id="video-page" ng-controller="VideoCtrl">

    {{> video_nav}}
    
    <!-- Main -->
    <div id="page" ng-controller="CommentCtrl">

        <!-- Video + Timeline -->
        <div class="container">
            <div class="video-container"
                    ng-mouseenter="timelineVisible = true"
                    ng-mouseleave="timelineVisible= false"
                    ng-init="timelineVisible = false">
                <div class="embed-container">
                    <div id="video-main"></div>
                </div>

                <div id="next-video-popup" class="animated fadeIn">
                    <span class="next-video-popup-close button" ng-click="cancelCountdown()">X</span>
                    <div class="next-video-popup-inner">
                        <h2 ng-bind="nextVideoTitle">Coming up</h2>
                        <p>Loading next video...</p>
                        <div class="countdown">
                            <span ng-bind="timeToNextVideo"></span>
                        </div>
                        <ul>
                            <li><button class="next-video-popup-go button" ng-click="pauseCountdown()"><span class="fa fa-pause"</button></li>
                            <li><button class="next-video-popup-go button" ng-click="goToNext()">Go &gt;</button></li>
                        </ul>
                    </div>

                </div>

                <div id="timeline" ng-show="timelineVisible  && !nextVideoVisible" class="animated fadeIn">
                    <div class="timeline-inner">
                        <div ng-repeat="trigger in timelineTriggers">
                            <div class="trigger"
                                    ng-click="showTimelineComment(trigger)"
                                    ng-style="triggerPositionStyle(trigger.time)">
                            </div>
                        </div>
                    </div>
                    <button class="comment-now-btn animated fadeIn" ng-click="addCommentNow()">Comment Now</button>
                </div>


            </div>

            <div class="video-buttons">
                <ul>
                    <li ng-click="goToPrev()">PREV</li>
                    <li ng-click="goToNext()">NEXT</li>
                </ul>
            </div>

            <div id="timeline-comment-modal"
                 class="8u -2u"
                 ng-show="timelineModalVisible">
                <span class="button timeline-modal-close" ng-click="timelineModalVisible = false">X</span>

                <div class="timeline-comment-modal-inner">
                    <div ng-repeat="comment in timelineComments">
                        <h2>Comments at <a class="timeline-comment-time"
                                           ng-bind="comment.timeline.time | secondsToTime | date: 'm:ss'"
                                           ng-click="videoSeekTo(comment.timeline.time)"></a></h2>
                        {{> comment}}
                    </div>
                </div>
            </div>

        </div>
        <!-- /Video + Timeline -->

        <!-- Video Details + Comments -->
        <div id="main" class="container">

            <div class="row">
                <div class="12u">
                    <!-- Video details -->
                    <section>
                        <header>
                            <span class="byline">{{video.subtitle}}</span>
                            <h2>{{video.title}}</h2>
                        </header>
                        <p>{{{video.description}}}</p>
                    </section>
                    <!-- /Video details -->


                    <!-- Comments -->
                    <section class="comments">
                        <div class="10u -1u">

                            <h2>Comments</h2>
                            <p>We love polite, relevant and substantiated criticism! And we hate impolite, irrelevant, or unsubstantiated rants.</p>
                    
                            <ul id="comments" class="comments-list">
                                <li ng-repeat="comment in comments">
                                    {{> comment}}
                                </li>
                            </ul>

                            <div id="new-comment">
                                <!-- New Comment Form -->
                                {{#user}}
                                    {{> comment_form}}
                                {{/user}}
                                {{^user}}
                                <p>Please <a href="/login">log in</a> to participate in this discussion</p>
                                <p>Don't have an account? <a href="signup">Sign up!</a></p>
                                {{/user}}
                            </div>

                        </div>
                    </section>
                    <!-- /Comments -->
                </div>

            </div>
        </div>
        <!-- /Video Details + Comments -->

    </div>
    <!-- /Main -->

</div>

{{#yield-scripts}}
    <script type="text/javascript" src="/js/popcorn-complete.min.js"></script>
    <script type="text/javascript" src="/js/bundle.js"></script>

    <script src='/js/textAngular-sanitize.js'></script>
    <script src='/js/textAngular-rangy.min.js'></script>
    <script src='/js/textAngular.js'></script>
    <script src='/js/textAngularSetup.js'></script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/videoCtrl.js" defer></script>
    <script type="text/javascript" src="/js/commentCtrl.js" defer></script>
    <script type="text/javascript">{{{videoData}}}</script>
{{/yield-scripts}}