<h1>Sign Up</h1>
<p class="lead">{{msg}}</p>

<hr />

{{#flash}}
<div class="flash">
    <p>{{flash.msg}}</p>
</div>
{{/flash}}

<form action="signup" method="POST">
    <label>
        First Name
        <input type="text" name="firstName" required />
    </label>
    <label>
        Last Name
        <input type="text" name="lastName" required />
    </label>
    <label>
        E-mail
        <input type="email" name="username" />
    </label>
    <label>
        Password
        <input type="password" name="password" />
    </label>
    
    <button type="submit">Sign up</button>
</form>

<hr />

<p>Already have an account? <a href="login">Log in</a></p>