<div class="comment-container">

    <div class="comment-author">
        <div ng-bind-html="getGravatarImage(comment)" class="author-img"></div>
        <h4 ng-bind="comment.author.name"></h4>
        <span ng-if="comment.timeline"> |
            <a class="timeline-comment-time"
               ng-show="comment.timeline"
               ng-bind="comment.timeline.time | secondsToTime | date: 'm:ss'"
               ng-click="videoSeekTo(comment.timeline.time)"></a>
        </span>
    </div>
    <div class="comment-text">
        <span ng-bind-html="comment.text"></span>
    </div>

    <div class="comment-replies">
        <ul class="comment-replies">
            <li ng-repeat="reply in comment.replies">
                <div class="reply-author">
                    <div ng-bind-html="getGravatarImage(reply)" class="author-img"></div>
                    <h4 ng-bind="reply.author.name"></h4>
                </div>
                <div class="comment-text">
                    <span ng-bind-html="reply.text"></span>
                </div>
            </li>
        </ul>
        {{#user}}
        <a ng-click="replyVisible = (replyVisible == comment ? null : comment)">Reply</a>
        <div class="comment-reply-form" ng-show="replyVisible === comment">
            <form  ng-submit="sendReply(comment)">
                <div text-angular ng-model="comment.replyText" ta-toolbar="[['bold', 'italics', 'underline', 'insertLink', 'clear']]"></div>
                <input type="submit" class="button" value="Submit" />
            </form>
        </div>
        {{/user}}
    </div>

</div>