<!-- Banner -->
<div id="banner" class="video-nav">
    <div class="container">
        <table cellpadding="0" cellspacing="0">
            <tr class="nav-row1">
                <td class="theme">Polarisation</td>
                <td ng-click="goToVideo(1)"></td>
                <td ng-click="goToVideo(2)"></td>
                <td ng-click="goToVideo(3)"></td>
                <td ng-click="goToVideo(4)"></td>
                <td ng-click="goToVideo(5)"></td>
                <td ng-click="goToVideo(6)"></td>
            </tr>
            <tr class="nav-row2">
                <td class="theme">Economy</td>
                <td ng-click="goToVideo(7)"></td>
                <td ng-click="goToVideo(8)"></td>
                <td ng-click="goToVideo(9)"></td>
                <td ng-click="goToVideo(10)"></td>
                <td ng-click="goToVideo(11)"></td>
                <td ng-click="goToVideo(12)"></td>
            </tr>
            <tr class="nav-row3">
                <td class="theme">Insecurity</td>
                <td class="unavailable"></td>
                <td class="unavailable"></td>
                <td class="unavailable"></td>
                <td class="unavailable"></td>
                <td class="unavailable"></td>
                <td class="unavailable"></td>
            </tr>
        </table>
    </div>
</div>

<div class="container">
    <table class="nav-years">
        <tbody>
        <tr>
            <td>1980</td>
            <td>1992</td>
            <td>1999</td>
            <td>2002</td>
            <td>2005</td>
            <td>2010</td>
            <td>2013</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- /Banner -->