<div ng-controller="CommentCtrl">
    
    <h1>Real-time Comments</h1>
    
    <ul id="comments">
        <li ng-repeat="comment in comments" ng-bind="comment"></li>
    </ul>
    
    <form ng-submit="sendComment()">
      <input type="text" autocomplete="off" name="comment" ng-model="comment" />
    </form>

</div>

{{#yield-scripts}}
    <script src="/socket.io/socket.io.js"></script>
    
    <script type="text/javascript" src="/js/bundle.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/commentCtrl.js" defer></script>
{{/yield-scripts}}