<!-- Banner -->
<div id="banner">
    <div class="container">
    </div>
</div>
<!-- /Banner -->

<!-- Main -->
<div id="page">

    <!-- Main -->
    <div id="main" class="container">
        
        {{#flash}}
        <div class="flash">
            <p>{{flash.msg}}</p>
        </div>
        {{/flash}}
        
        <div class="row">
            <div class="8u">
                <section>
                    <header>
                        <h2>An open, interactive web documentary</h2>
                        <span class="byline">Open, transparent views of Venezuela's political and economic turmoil</span>
                    </header>
                    <p>Why do Venezuelans have to queue before shops? Why is there so much insecurity and inflation? Why is Venezuelan politics so polarised? We create a web-documentary that explains the history and logic of Venezuela's problems!</p>
                    <p>Our format redefines documentary filmmaking. We fuse the best of journalism, social science, documentary filmmaking, and web programming to deliver the most intuitively comprehensible explanations out there on the web. Inventions, such as referenced subtitles and direct access to all data, will make this the most transparently researched documentary in the history of humankind!</p>
                    
                    <a onclick="showMore()">More Details</a>
                    <br />
                    
                    <div id="more-details">
                        <h3>About the Project</h3>
                        <div class='embed-container'>
                            <iframe src='https://www.youtube.com/embed/J7xhz2qL9xw' frameborder='0' allowfullscreen></iframe>
                        </div>
                    </div>
                    
                    <a class="button" href="/video/1">Enter!</a>
                    
                </section>
            </div>
            
            <div class="4u">
                <section class="sidebar">
                    <header>
                        <h2>Hot Topics</h2>
                    </header>
                    <ul class="style2">
                        <li>
                            <a href="#"><img src="images/pics07.jpg" alt=""></a>
                            <p>What were the underlying causes of polarisation before Chávez?</p>
                        </li>
                        <li>
                            <a href="#"><img src="images/pics08.jpg" alt=""></a>
                            <p>Did Venezuela's oil wealth contribute to its problems?</p>
                        </li>
                        <li>
                            <a href="#"><img src="images/pics09.jpg" alt=""></a>
                            <p>What is the "Caracazo" and what role did it play?</p>
                        </li>
                        <li>
                            <a href="#"><img src="images/pics10.jpg" alt=""></a>
                            <p>What can we expect after Chávez?</p>
                        </li>
                    </ul>
                </section>
            </div>
            
            <!--
            <div class="3u">
                <section class="sidebar">
                    <header>
                        <h2>Latest Discussions</h2>
                    </header>
                    <ul class="style1">
                        <li><a href="#">Maecenas luctus lectus at sapien</a></li>
                        <li><a href="#">Etiam rhoncus volutpat erat</a></li>
                        <li><a href="#">Donec dictum metus in sapien</a></li>
                        <li><a href="#">Nulla luctus eleifend purus</a></li>
                        <li><a href="#">Maecenas luctus lectus at sapien</a></li>
                    </ul>
                </section>
                <section class="sidebar">
                    <header>
                        <h2>News from the world</h2>
                    </header>
                    <ul class="style1">
                        <li><a href="#">Maecenas luctus lectus at sapien</a></li>
                        <li><a href="#">Donec dictum metus in sapien</a></li>
                        <li><a href="#">Integer gravida nibh quis urna</a></li>
                        <li><a href="#">Etiam posuere augue sit amet nisl</a></li>
                        <li><a href="#">Mauris vulputate dolor sit amet nibh</a></li>
                    </ul>
                </section>
            </div>
            -->
        </div>
    </div>
    <!-- Main -->
    
    <!-- Extra -->
    <div id="marketing" class="container">
        <div class="row">
            <div class="4u">
                <section>
                    <header>
                        <h2>Open</h2>
                    </header>
                    <p class="subtitle">This documentary is free to access and view. Spread the word and support free, transparent access to information! </p>
                    <p>
                        <a href="#"><img src="images/open.jpg" alt=""></a>
                    </p>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>Transparent</h2>
                    </header>
                    <p class="subtitle">Immediate access to all sources at your fingertips! Referenced subtitles in all videos, interactive graphs, links and more. </p>
                    <p>
                        <a href="#"><img src="images/transparent.jpg" alt=""></a>
                    </p>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>Interactive</h2>
                    </header>
                    <p class="subtitle">Participate in the discussions, propose new topics to research and update the content. If we're wrong, we'll adapt and correct. </p>
                    <p>
                        <a href="#"><img src="images/interactive.jpg" alt=""></a>
                    </p>
                </section>
            </div>
        </div>
    </div>
    <!-- /Extra -->

</div>
<!-- /Main -->

<!-- Featured -->
<div id="featured">
    <h2>Explore</h2>
    <div class="container">
        <div class="row">
            <section class="4u">
                <div class="box">
                    <a href="#" class="image left"><img src="images/pics04.jpg" alt=""></a>
                    <h3>Polarisation</h3>
                    <p>In posuere eleifend odio. Quisque semper augue mattis maecenas ligula. </p>
                    <a href="/video/1" class="button">More &gt;</a>
                </div>
            </section>
            <section class="4u">
                <div class="box">
                    <a href="#" class="image left"><img src="images/pics05.jpg" alt=""></a>
                    <h3>Economics</h3>
                    <p>In posuere eleifend odio. Quisque semper augue mattis maecenas ligula. </p>
                    <a href="/video/7" class="button">More &gt;</a>
                </div>
            </section>
            <section class="4u">
                <div class="box">
                    <a href="#" class="image left"><img src="images/pics06.jpg" alt=""></a>
                    <h3>Insecurity</h3>
                    <p>In posuere eleifend odio. Quisque semper augue mattis maecenas ligula. </p>
                    <a href="#" class="button">More &gt;</a>
                </div>
            </section>
        </div>
        <div class="divider"></div>
    </div>
</div>
<!-- /Featured -->

<script defer>
    function showMore() {
        var element = document.getElementById("more-details");
        if (element.style.display === "inline-block") {
            element.style.display = "none";
        } else {
            element.style.display = "inline-block";
        }
    }
</script>