<!-- Banner -->
<div id="banner">
    <div class="container">
    </div>
</div>
<!-- /Banner -->

<!-- Main -->
<div id="page">

    <!-- Main -->
    <div id="main" class="container">
        
        {{#flash}}
        <div class="flash">
            <p>{{flash.msg}}</p>
        </div>
        {{/flash}}
        
        <div class="row">
            <div class="8u">
                <section>
                    <header>
                        <span class="byline">Thoroughly researched, fully referenced</span>
                        <h2>The world’s first open source documentary</h2>

                    </header>
                    <p>Why do Venezuelans have to queue before shops? Why is there so much insecurity and inflation? Why is Venezuelan politics so polarised? We create a web-documentary that explains the history and logic of Venezuela's problems.</p>
                    <p>Our format redefines documentary filmmaking. We fuse the best of journalism, social science, documentary filmmaking, and web programming to deliver the most accurate and intuitively comprehensible explanations out there on the web.</p>
                    <p>This is the world’s first open source documentary of its kind. The sources of all our information are transparently revealed and available to you right inside the documentary. A revolutionary commenting system allows you to comment and discuss specific points in the documentary with other viewers.</p>
                    <p>We specifically encourage you to pirate our videos, make them better, and send us the improved version. Also send us videos you made on specific points you think are missing in the documentary. If they meet our standards, we’ll include them on our main website.</p>
                    <p>Our hope is to contribute to a constructive and fact-based dialogue about the turmoil in Venezuela.</p>


                    <a onclick="showMore()">More Details</a>
                    <br />
                    
                    <div id="more-details">
                        <h3>About the Project</h3>
                        <div class='embed-container'>
                            <iframe src='https://www.youtube.com/embed/J7xhz2qL9xw' frameborder='0' allowfullscreen></iframe>
                        </div>
                    </div>
                    
                    <a class="button" href="/video/1">Enter!</a>
                    
                </section>
            </div>
            
            <div class="4u">
                <section class="sidebar">
                    <header>
                        <h2>Hot Topics</h2>
                    </header>
                    <ul class="style2">
                        <li>
                            <a href="#"><img src="images/pics07.jpg" alt=""></a>
                            <p>What were the underlying causes of polarisation before Chávez?</p>
                        </li>
                        <li>
                            <a href="#"><img src="images/pics08.jpg" alt=""></a>
                            <p>Did Venezuela's oil wealth contribute to its problems?</p>
                        </li>
                        <li>
                            <a href="#"><img src="images/pics09.jpg" alt=""></a>
                            <p>What is the "Caracazo" and what role did it play?</p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="row">
            <!-- Featured -->
            <div id="featured">
                <div class="container">
                    <div class="row">
                        <section class="4u">
                            <div class="box">
                                <a href="#" class="image left"><img src="images/pics04.jpg" alt=""></a>
                                <h3>Polarisation</h3>
                                <p>Why is Venezuelan politics marked by being so distrustful, paranoiac and unproductive?</p>
                                <div style="more-button">
                                    <a href="/video/1" class="button">More &gt;</a>
                                </div>
                            </div>
                        </section>
                        <section class="4u">
                            <div class="box">
                                <a href="#" class="image left"><img src="images/pics05.jpg" alt=""></a>
                                <h3>Economics</h3>
                                <p>In 2015 consumer prices in Venezuela rose by roughly 270 percent. How come there is so much inflation?</p>
                                <div style="more-button">
                                    <a href="/video/7" class="button">More &gt;</a>
                                </div>
                            </div>
                        </section>
                        <section class="4u">
                            <div class="box">
                                <a href="#" class="image left"><img src="images/pics06.jpg" alt=""></a>
                                <h3>Insecurity</h3>
                                <p>Still in the 1980s, Caracas used to be a comparatively safe Latin American city –now it’s the second most dangerous city in the world. Why?</p>
                                <div style="more-button">
                                    <a href="#" class="button">More &gt;</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- /Featured -->

        </div>
    </div>

    <!-- Main -->
    
    <!-- Extra -->
    <div id="marketing" class="container">
        <div class="row">
            <div class="4u">
                <section>
                    <header>
                        <h2>Open</h2>
                    </header>
                    <p class="subtitle">This documentary is free to access and view. Spread the word and support free, transparent access to information! </p>
                    <p>
                        <a href="#"><img src="images/open.jpg" alt=""></a>
                    </p>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>Transparent</h2>
                    </header>
                    <p class="subtitle">Immediate access to all sources at your fingertips! Referenced subtitles in all videos, interactive graphs, links and more. </p>
                    <p>
                        <a href="#"><img src="images/transparent.jpg" alt=""></a>
                    </p>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>Interactive</h2>
                    </header>
                    <p class="subtitle">Participate in the discussions, propose new topics to research and update the content. If we're wrong, we'll adapt and correct. </p>
                    <p>
                        <a href="#"><img src="images/interactive.jpg" alt=""></a>
                    </p>
                </section>
            </div>
        </div>
    </div>
    <!-- /Extra -->

</div>
<!-- /Main -->



<script defer>
    function showMore() {
        var element = document.getElementById("more-details");
        if (element.style.display === "inline-block") {
            element.style.display = "none";
        } else {
            element.style.display = "inline-block";
        }
    }
</script>