<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>Venezuela in Context</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/skel-panels.min.js"></script>
	<script src="/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/css/skel-noscript.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/style-desktop.css" />
	</noscript>
	<link rel="stylesheet" href="/css/main.min.css" />
</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WDTVX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5WDTVX');</script>
    <!-- End Google Tag Manager -->
    
    
    <div>{{{ yield }}}</div>


    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="3u">
                    <section>
                        <h2>Maecenas lectus</h2>
                        <div class="balloon">
                            <blockquote>&ldquo;&nbsp;&nbsp;Donec leo, vivamus ullamcorper fermentum nibh in augue pulvinar ullamcorper.&nbsp;&nbsp;&rdquo;
                                <br>
                                <br>
                                <strong>&ndash;&nbsp;&nbsp;John Smith</strong></blockquote>
                        </div>
                        <div class="ballon-bgbtm">&nbsp;</div>
                    </section>
                </div>
                <div class="3u">
                    <section>
                        <h2>Donec dictum</h2>
                        <ul class="default">
                            <li>
                                <h3>Mauris vulputate dolor sit amet</h3>
                                <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                            </li>
                            <li>
                                <h3>Fusce ultrices fringilla metus</h3>
                                <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="3u">
                    <section>
                        <h2>Nulla leifend</h2>
                        <p>Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.</p>
                        <a href="#" class="button">More Collections</a>
                    </section>
                </div>
                <div class="3u">
                    <section>
                        <h2>Luctus eleifend</h2>
                        <p><strong>Aliquam erat volutpat. Pellentesque tristique ante ut risus. </strong></p>
                        <p>Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.</p>
                        <a href="#" class="button">More Collections</a>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer -->


    {{{yield-scripts}}}
</body>

</html>