@import 'vars';

/** SIGN IN **/
.social-login {
  list-type: none;

  li .button {
    width: 270px;
    color: #fff;
  }

  .button.fb-login {
    background-color: #3b5998;
  }
  .button.google-login {
    background-color: #dd4b39;
  }
  .button.wp-login {
    background-color: #21759b;
  }
}


/** PROFILE **/
.user-details {
  li {
    list-style-type: none;
  }

  span.user-name {
    font-weight: 700;
    font-size: 1.3em;
  }
  span.user-email {
    font-size: 1.1em;
  }
}

.blocked {
  color: $orange;
}

