
@import 'vars';

$video-nav-height: 150px;
$timeline-height: 7px;
$timeline-bg: rgba(153,153,153,$opacity);
$timeline-modal-bg: rgba(255,255,255,.55);

$timeline-trigger-bg: rgba(255,85,85,1);
$timeline-trigger-border: rgba(255,85,85,$opacity);

#video-page {
  background-color: #ffffff;
}

#banner.video-nav {
  padding: 0;
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  height: $video-nav-height;

  table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  td {
    width: 14%;
    height: $video-nav-height / 3;
    vertical-align: middle;
    border: 1px inset transparent;
    border-left: 1px solid #333;
    padding-left: 20px;
    cursor: pointer;

    &.theme, &.unavailable {
      text-shadow: 1px 1px $dark-gray;
      cursor: auto;
    }
    &:hover {
      border: 1px solid red;
    }
    &.theme:hover, &.unavailable:hover {
      border: 1px inset transparent;
    }

  }

  .nav-row1 {
    background-color: $flag-yellow;
  }
  .nav-row2 {
    background-color: $flag-blue;
  }
  .nav-row3 {
    background-color: $flag-red;
  }
}

table.nav-years {
  width: 100%;
  text-align: right;
  font-family: 'Georgia',serif;

  td {
    width: 14%;
    border-right: 1px solid #333;
    padding-right: 3px;
  }
}


/**
* VIDEO
*/

.video-container {
  position: relative;
}
#next-video-popup {
  visibility: hidden;   // Initially hidden

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: $white-bg;

  .next-video-popup-close {
    float: right;
    cursor: pointer;
  }

  .next-video-popup-inner {
    margin: 20%;
    font-weight: 700;
    text-align: center;

    h2 {
      font-size: 2em;
    }
    .countdown {
      font-size: 4em;
    }
    ul {
      margin-top: 35px;
    }
  }

}

.video-buttons {
  display: none;      // Provisionally hidden

  width: 100%;
  height: 30px;
  background: $gray;
  ul {
    li {
      display: inline;
      padding: 10px;
      cursor: pointer;

      &:hover {
        color: $orange;
      }
    }
  }
}



/**
* TIMELNE
*/

#timeline {
  position: absolute;
  bottom: 40px;
  height: $timeline-height;
  width: 100%;
  padding: 0 12px;


  .timeline-inner {
    width: 100%;
    height: 100%;
    //background-color: $timeline-bg;
  }

  .trigger {
    position: absolute;
    height: 100%;
    width: $timeline-height;
    background-color: $timeline-trigger-bg;
    border: 1px solid $timeline-trigger-border;
    border-radius: 2px;
    cursor: pointer;
  }

  .comment-now-btn {
    float: right;
    margin-top: 11px;
    margin-right: 22%;
    border: none;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: $elcontexto-red;
    }
  }
}

#timeline-comment-modal {
  margin-top: 15px;
  max-height: 50%;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 15px;

  .timeline-modal-close {
    float: right;
  }

  h2 {
    font-size: 1.6em;
  }

  a.timeline-comment-time {
    color: $orange;
    cursor: pointer;
  }
}


// Video Comments
.comments {
  border-top: 2px solid #ccc;
}

.comment-container {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;

  .author-img {
    float: left;
    margin: 5px;
  }

  .comment-replies {
    margin-left: 30px;

    li {
      min-height: 56px;
    }
    a {
      cursor: pointer;
    }
  }
}
.comment-form {
  border-top: 1px solid $dark-gray;
}

.comment-form, .comment-reply-form {
  textarea {
    min-width: 80%;
  }
}